.input-container {
  margin-top: 10px;
}

.frm-forgot-password {
  max-width: 400px !important;
}

.frm-change-password {
  max-width: 400px !important;
  pointer-events: none;
  opacity: 0;
}

.alert {
  position: fixed !important;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  pointer-events: none;
  transition: 0.5s;
  border: none;
  opacity: 0;
}

.alert p {
  margin: 0;
}
