.select-container {
  position: relative;
  width: 230px;
}

.spot-type-select-container {
  width: 130px;
}

.sort {
  background-color: #4477ce;
  color: white;
  outline: none;
  border: none;
  position: absolute;
  height: 100%;
  width: 100%;
  padding-left: 20px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 15px;
}

.select-container i {
  position: absolute;
  right: 20px;
  top: 6px;
  color: white;
}

.table-container {
  position: relative;
  height: 83vh;

  overflow-y: auto;
  margin-top: 40px;
}

.table-container table {
  width: 100%;
}

.table-container thead {
  position: sticky;
  top: 0;
}

.table-container thead tr th {
  text-align: center;
  padding: 10px 0px;
  color: white;
  background-color: #4477ce;
  font-weight: 600;
}

.table-container tr td {
  padding-left: 10px;
}

.actions-td {
  padding: 0;
  text-align: center;
  font-size: 12px;
  padding: 5px;
}

.actions-td a {
  padding: 5px 10px;
}

.btn-print {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border: none;
  background-color: #4477ce;
  color: white;
  padding: 8px 20px;
  font-size: 17px;
  border-radius: 10px;
}

.btn-print-tf {
  position: absolute;
  right: 100px;
  bottom: 10px;
  border: none;
  background-color: #4477ce;
  color: white;
  padding: 8px 20px;
  font-size: 17px;
  border-radius: 10px;
}

.only-print {
  display: none;
}

.tf-selected {
  display: none;
  justify-content: center;
  align-items: center;
}

.table-container #tf-message {
  text-align: center;
  font-size: 16px;
  color: #4477ce;
  font-weight: 400;
}

@media print {
  .hide-when-print {
    display: none !important;
  }

  .main-contents-container {
    margin: auto;
    width: 100%;
  }

  .only-print {
    display: block;
  }
}
